Repository Arquisoft/lomap_es1c, pull requests merged in 2023-03, with the labels that each got.

#28 David develop sidebar
  my-app/package-lock.json
  my-app/package.json
  my-app/src/App.js
  my-app/src/Sidebar.css
  my-app/src/Sidebar.js
Labels: front-end

#30 David develop sidebar
  my-app/src/Sidebar.css
  my-app/src/Sidebar.js
  my-app/src/Sidebar/AmigoCard.js
  my-app/src/Sidebar/AmigosTabContent.js
  my-app/src/Sidebar/DescubrirTabContent.js
  my-app/src/Sidebar/InicioTabContent.js
  my-app/src/Sidebar/LugarCard.js
  my-app/src/Sidebar/RutaCard.js
  my-app/src/Sidebar/RutasTabContent.js
  my-app/src/Sidebar/TabButtons.js
Labels: front-end

#41 David develop sidebar
  my-app/src/App.js
  my-app/src/Mapa/PlacesForm.js
  my-app/src/Sidebar.js
  my-app/src/Sidebar/InicioTabContent.js
  my-app/src/Sidebar/LugarCard.js
  my-app/src/Sidebar/PlaceCard.js
  my-app/src/Sidebar/TabButtons.js
Labels: front-end

#44 Backend
  backend/app.js
  backend/controllers/AuthController.js
  backend/controllers/LocationController.js
  backend/controllers/ReviewController.js
  backend/models/Location.js
  backend/models/Review.js
  backend/package-lock.json
  backend/package.json
  backend/readme.md
  backend/routes/LocationRoutes.js
  backend/routes/ReviewRoutes.js
  backend/routes/index.js
  backend/routes/userSessionRouter.js
  backend/solid/Solid.js
  package-lock.json
  package.json
  restapi/package-lock.json
  restapi/package.json
Labels: back-end

#48 Cors Policies
  backend/app.js
  backend/controllers/LocationController.js
  backend/controllers/ReviewController.js
  backend/solid/Solid.js
Labels: back-end

#49 Pruebas llamadas API
  backend/app.js
  backend/controllers/AuthController.js
  backend/package-lock.json
  backend/package.json
  backend/routes/userSessionRouter.js
  my-app/package-lock.json
  my-app/package.json
  my-app/src/App.js
Labels: front-end, back-end

#93 Solid mockup merge
  backend/app.js
  backend/controllers/AuthController.js
  backend/controllers/FriendController.js
  backend/controllers/LocationController.js
  backend/controllers/ReviewController.js
  backend/controllers/RouteController.js
  backend/models/Friend.js
  backend/models/Location.js
  backend/models/Review.js
  backend/models/Route.js
  backend/readme.md
  backend/routes/AuthRoutes.js
  backend/routes/FriendRoutes.js
  backend/routes/LocationRoutes.js
  backend/routes/RouteRoutes.js
  backend/routes/index.js
  backend/routes/userSessionRouter.js
  backend/solid/Solid.js
  backend/solid/SolidPrueba.js
  my-app/src/App.js
  restapi/pruebasSOLIDapi/package.json
  restapi/pruebasSOLIDapi/prueba.html
  restapi/pruebasSOLIDapi/prueba.js
Labels: SOLID, back-end

#96 David dev
  .github/workflows/lomap_es1c.yml
  .github/workflows/lomap_es1c_CI.yml
  my-app/package-lock.json
  my-app/package.json
  my-app/src/App.css
  my-app/src/App.js
  my-app/src/App.test.js
  my-app/src/Sidebar/InicioTabContent.js
  my-app/src/Sidebar/InicioTabContent.test.js
  my-app/src/Sidebar/PlaceCard.js
  my-app/src/Sidebar/TabButtons.js
  my-app/src/buttons/ToggleLanguageButton.js
  my-app/src/index.js
  my-app/src/translations/en/global.json
  my-app/src/translations/es/global.json
  sonar-project.properties
Labels: front-end
